<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulah User Information</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<style>
    .p{
        font-family: roboto;
        font-weight: 500;
        text-align: left;
    }
</style>
<body>
    <div class="container" style="height: 650px;">
        <h1 style="margin-bottom: 70px;">MULAH</h1>
        <h2 style="font-size: 30px;">User Information</h2>
        <p style="color: #F97304; margin-top: 150px;">Here are your details:</p>
        
        <div id="user-info" style="text-align: left; margin-top: 70px;">
            <p><strong>Phone Number:</strong> <span id="display-phone"></span></p>
            <p><strong>Name:</strong> <span id="display-name"></span></p>
            <p><strong>Email:</strong> <span id="display-email"></span></p>
            <p><strong>Birthday:</strong> <span id="display-birthday"></span></p>
        </div>
        
        <hr>
        <p>Powered by <a href="https://MulahRewards.com" style="text-decoration: none;">MulahRewards.Com</a></p>
    </div>
    <script defer src="script.js"></script>
</body>
</html>
