<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulah Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container" style="height: 650px;">
        <h1>MULAH</h1>
        <h2>Hello,</h2>
        <h2 style="text-align: left; 
        font-size: 50px;
        font-family: 'Playfair Display', serif;
        color: gray;">Welcome !</h2>
        <p style="color: #F97304; 
        margin-top: 20px;
        margin-bottom: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: left;">Check Your Loyalty Points & Rewards</p>
        <div class="input-group">
            <select id="country-code" style="margin-right: 10px;">
                <option value="+60">+60</option>
            </select>
            <input type="tel" id="phone" placeholder="Enter your mobile number" required style="width: calc(100% - 60px);">
        </div>
        <button style="margin-top: 20px;
        margin-bottom: 30px;" id="check-loyalty-btn">Check Loyalty Points</button>
        <hr>
        <p style="font-family: 'Roboto', sans-serif;
        font-size: 500;
        color: gray;
        ">Powered by <a href="https://MulahRewards.com" style="text-decoration: none;">MulahRewards.Com</a></p>
    </div>
    <script defer src="script.js"></script>
</body>
</html>
